@if ((soundsList$ | async)?.length === 0) {
<div class="loading-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
} @else {
<div class="favourite-items-list">
    <h3>My top {{(soundsList$ | async)?.length}} favourite sounds 🔊</h3>
    <ol class="sound-list">
        @for (sound of (soundsList$ | async) ?? []; track sound.id) {
            <li>
                <p>{{sound.title}}</p>
                <audio controls>
                    <source [src]="sound.filePath" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
        }
    </ol>
</div>
}