<div class="page-container">
    <h1>Welcome to My Tiny Internet Corner</h1>
    <app-terminal [textList]="textList"></app-terminal>
    <div class="card-list">
        <app-card>
            <div class="centred">
                <img ngSrc="/assets/sprites/self.gif" alt="A gif of Corey." height="160" width="160" priority>
            </div>
            <p>My name is <b>Corey Barr</b> and I'm a programmer from Australia 🦘</p>
            <p>I live in Canberra and specialise in modernising legacy applications and deploying to the cloud.</p>
            <p>Welcome to my site, you can find its source code <a href="https://github.com/cybr-knight/cybr-knight.github.io">here<span class="screen-reader-text">(link to a githhub repo for this website)</span></a>.</p>
        </app-card>
        <app-card>
            <div class="centred">
                <img ngSrc="/assets/sprites/grug.gif" alt="A gif of grug." height="160" width="160">
            </div>
            <p>When venturing to a distant world devoid of the comfort of my configured terminal, I am a 3/4 orc (mum was an orc, dad was a half-orc) named <b>Grug</b>, who is a fearsome fighter overflowing with brawn and empty of brains.</p>
            <p>You can find the history of Grug <a href="https://github.com/coreybigboi/dndGrug">here<span class="screen-reader-text">(link to a githhub repo for Grug's D&D campaign)</span></a>.</p>
            <p>As a member of the cult of plain text, my character sheet is stored as a markdown.</p>
        </app-card>
    </div>
</div>
