<div class="page-container">
    <h1>Welcome to CYBR Cafe</h1>
    <app-terminal [textList]="textList"></app-terminal>
    <div class="card-list">
        <app-card>
            <div class="centred">
                <img ngSrc="/assets/sprites/self.gif" alt="A gif of Corey." height="160" width="160" priority>
            </div>
            <p>My name is <b>Corey Barr</b> and I'm a programmer from Australia 🦘</p>
            <p>I live in Canberra and work full-time as a software engineer for the Australian Government. Being a public servant, I find great purpose in providing the Australian public with performant and accessible digital services. I specialise in modernising legacy applications and deploying them to the cloud.</p><p>My online handle, <em>cybr</em>, is derived from the first and last letters of my given and family names. I find it very fitting.</p>
            <p>Welcome to my site, you can find its source code <a href="https://github.com/cybr-knight/cybr-knight.github.io">here<span class="screen-reader-text">(link to a githhub repo for this website)</span></a>.</p>
        </app-card>

        <app-card colour="secondary">
            <div class="centred">
                <img ngSrc="/assets/sprites/grug.gif" alt="A gif of grug." height="160" width="160">
            </div>
            <p>When venturing to a distant world devoid of the comfort of my configured terminal, I am a 3/4 orc (mum was an orc, dad was a half-orc) named <b>Grug</b>, who is a fearsome fighter overflowing with brawn and empty of brains.</p>
            <p>You can find the history of Grug <a href="https://github.com/coreybigboi/dndGrug">here<span class="screen-reader-text">(link to a githhub repo for Grug's D&D campaign)</span></a>.</p>
            <p>As a member of the cult of plain text, my character sheet is stored as markdown, making it grep-able.</p>
        </app-card>

        <app-card colour="tertiary">
            <p>I am lucky to be the dad of my pet greyhound named Dobby. He's a retired racing dog who I adopted in January 2023. Dobby has changed my life and I can't imagine my life without the little guy.</p>
            <p>Dobby sleeps ~20 hours a day. Despite my best attempts to be his favourite person, he is a mumma's boy at heart and attaches himself to my girlfriend like velcro.</p>
        </app-card>
    </div>
</div>
