.coloured-box {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width:80vw;
    margin: 20px;
    padding: 20px;
    border: 2px solid slategray;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}