<div class="page-container">
    <img ngSrc="/assets/sprites/voyager.gif" alt="A gif of a keyboard." height="300" width="300" priority>

    <div>
        <h1>Why I am Passionate about Ergonomic Keyboards</h1>

        <p>
            I type a lot, both for my job and in my free time. This can be anywhere from six to ten hours per day, which
            adds up very quickly. I had always thought developing RSI and Carpal Tunnel syndrome were an inevitable
            consequence of being a nerdy programmer, like how a chemical researcher must accept that their lungs will
            turn into a toxic mess, or a boxer knows that their brain will shrivel into a black lump.
        </p>
        <p>
            Luckily we can avoid a future of painful wrists by bursting from the bubble of conventional keyboards!
        </p>

        <h1>Sins of Conventional Keyboards</h1>
        <p>Traditional keyboards make no sense in many ways. Some of the biggest blunders are:</p>
        <ul>
            <li>Each row is horizontally staggered, which makes it awkward to reach many keys (especially the number
                row).
            </li>
            <li>Your hands are forced to be very close together while typing, which is bad for both your wrists and
                shoulders.
            </li>
            <li>Most keyboards let you tilt the back of the keyboard up. This is terrible for your wrists.</li>
        </ul>

        <h1>Say Hi to Ergonomic Keyboards!</h1>
        <p>
            Ergonomic keyboards can not only reduce the risk of developing permanant injuries, but they can make you
            more productive too. At first I did not understand why ergo keyboards tend to have fewer keys than
            traditional keyboards. The reason is that a core principal of ergonomic keyboards is to reduce the amount of
            hand movement and keep you on the home row. For example, instead of needing to look down at your keyboard to
            press the
            "Home" key, you can instead switch to another layer and easily press it without needing to look away from
            the screen. This is not only better for your health, but significantly more efficient. It feels liberating
            to effortlessly glide between layers and program efficiently without ever needing to leave the home row.
        </p>

        <h1>Pre-requisites / Recommendations</h1>
        <p>
            The biggest aid to help transition to ergo keyboards is to learn to touch type with proper technique,
            using all 10 fingers. This can be extremely painful and you need to accept that you will be almost
            useless at typing for the first month or so. But as soon as the muscle memory kicks in the payoff is
            incredible. I went from 50 words per minute to over 100 by learning how to properly touch type.
        </p>
        <p>
            Touch typing is extremely important for adjusting to a split layout, as not having proper typing technique
            will make the transition almost impossible. I can't stress enough how important it is to learn to type
            properly, even if you don't choose to go down the ergonomic keyboard rabbit hole!
        </p>
        <p>
            Below are some recommendations for keyboards. I personally use the ZSA Voyager, which is a fantastic board,
            but there are other options out there to fit your needs:
        </p>
        <ul>
            <li>
                <a href="https://www.zsa.io/voyager">ZSA Voyager</a>
                <p>A minimal and high quality board that I have no regrets purchasing.</p>
            </li>
            <li>
                <a href="https://www.zsa.io/moonlander">ZSA Moonlander</a>
                <p>A little bit closer to a traditional keyboard and highly loved by its users.</p>
            </li>
            <li>
                <a href="https://www.moergo.com/">Glove 80</a>
                <p>Part of the curved keywell family of ergo keyboards, which has greater ergonomics at the price of the
                    switches not being hot-swappable.</p>
            </li>
            <li>
                <a href="https://kinesis-ergo.com/keyboards/advantage360/">Kinesis Advantage 360</a>
                <p>Another curved keywell board that is very expensive, but also hefty enough to kill a person. Is used
                    by the one and only <a
                            href="https://www.youtube.com/watch?v=nh-BAxbithc&t=632s&ab_channel=ThePrimeTime">Primagen.</a>
                </p>
            </li>
        </ul>
        <p>
            There are many other boards, including open source models that you can build yourself. The possibilities are
            vast!
        </p>

        <h1>Acknowledgements</h1>
        <p>I am extremely grateful for the videos that kickstarted my ergo keyboard journey. They explain this stuff way
            better than I can XD</p>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=pK41Mr4Kdd0&ab_channel=CodetotheMoon">Code to the Moon |
                YouTube</a></li>
            <li><a href="https://www.youtube.com/watch?v=dg2TT1OJlQs&ab_channel=BenVallack">Ben Vallack | YouTube</a>
            </li>
        </ul>
    </div>
</div>