p {
    font-size: smaller;
    font-weight:400;
    color: white;
}

.footer{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 45px;
    bottom: 0;
    background-color: slategrey;
}