.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(200px, 80vw, 600px);
    padding: 20px;
    background: rgba(23, 185, 255, 0.16);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(29, 78, 216, 0.8);
    border-radius: 10px;
}

.card .secondary {
    background: rgba(255, 147, 23, 0.16);
    border: 1px solid rgba(216, 101, 29, 0.8);
}
