.card {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 80vw;
    margin: 20px;
    padding: 20px;

    background: rgba(23, 185, 255, 0.16);
    backdrop-filter: blur(8px);

    border: 1px solid rgba(29, 78, 216, 0.8);
    border-radius: 10px;
}

.card .secondary {
    background: rgba(255, 147, 23, 0.16);
    border: 1px solid rgba(216, 101, 29, 0.8);
}
