.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(100px, 80vw, 1000px);
    padding: 40px;
    border-radius: 10px;
}

.primary {
    background: rgba(81, 187, 230, 0.2);
    border: 2px solid rgba(29, 78, 216, 0.8);
}

.secondary {
    background: rgba(255, 163, 59, 0.2);
    border: 2px solid rgba(216, 101, 29, 0.8);
}

.tertiary {
    background: rgba(155, 213, 79, 0.2);
    border: 2px solid rgba(138, 216, 29, 0.8);
}

@media (max-width: 768px) {
    .card {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 10px;
    }
}
