.header{
    margin: 0;
    padding: 0;
}

.header-title{
    font-size: larger;
}

.header-spacer{
    flex: 1 1 auto;
}

.header-link{
    color: whitesmoke;
    margin-right: 20px;
}

.nav-bar-container{
    position: fixed;
    top: 55px;
    bottom:45px;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, whitesmoke, whitesmoke 60%, rgb(211, 211, 211));
    margin: 0;
    padding: 0;
}

.side-nav{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color: white;
    text-align: right;
}

.nav-button{
    width: 100%;
}

.nav-content{
    width: 100%;
}

.active{
    background-color: #63C5DA;
    text-decoration-color: antiquewhite;
}
