.header{
    margin: 0;
    padding: 0;
}

.header-title{
    font-size: larger;
}

.header-spacer{
    flex: 1 1 auto;
}

.header-link{
    color: whitesmoke;
    margin-right: 20px;
}

.drawer-container{
    background-color: #f1f0ee;
    background-image: radial-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px), radial-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px);
    background-size: 3px 3px, 6px 6px;
    position: fixed;
    top: 55px;
    bottom:45px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.side-nav{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color:  #e4e2df;;
}

.nav-button{
    width: 100%;
    justify-content: start;
}

.active{
    background-color: var(--primary);
}
