<header>
  <mat-toolbar class="header" color="primary">
    <button mat-icon-button aria-label="menu button" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="header-title"><b>{{mobileQuery.matches ? "COREY BARR 💻" : "COREY BARR | Software Developer💻"}}</b></span>
    <span class="header-spacer"></span>
    <a class="header-link" href="https://github.com/coreybigboi" matTooltip="View my Github page">
      <img [ngSrc]="GithubSvg" height="30" width="30" alt="Github logo">
      <span class="screen-reader-text">Link to Github</span>
    </a>
    <a class="header-link" href="https://au.linkedin.com/in/corey-barr" matTooltip="View my Linkedin profile">
      <img [ngSrc]="LinkedinSvg" height="30" width="30" alt="Linkedin logo">
      <span class="screen-reader-text">Link to Linkedin</span>
    </a>
    <a class="header-link" href="https://corey-bigboi.itch.io/" matTooltip="Check out my games on Itch.io">
      <img [ngSrc]="ItchSvg" height="30" width="30" alt="Itch.io logo">
      <span class="screen-reader-text">Link to Itch.io</span>
    </a>
  </mat-toolbar>
</header>
<mat-drawer-container class="nav-bar-container">
  <mat-drawer #drawer [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches">
    <nav class="side-nav">
      <button mat-button class="nav-button" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</button>
      <button mat-button class="nav-button" routerLink="/about" routerLinkActive="active">About</button>
      <button mat-button class="nav-button" routerLink="/experience" routerLinkActive="active">Experience</button>
      <button mat-button class="nav-button" routerLink="/education" routerLinkActive="active">Education</button>
      <button mat-button class="nav-button" routerLink="/projects" routerLinkActive="active">Projects</button>
      <button mat-button class="nav-button" routerLink="/keyboards" routerLinkActive="active">Keyboards</button>
    </nav>
  </mat-drawer>
  <main class="nav-content">
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
<footer>
  <app-footer></app-footer>
</footer>