<div class="about-page-container">
    <h1>About Me</h1>
    <app-coloured-box [colour]="Blue">
        <div class="dialog">
            <img ngSrc="assets/sprites/cb_idle.gif" alt="A gif of Corey." class="centred" height="160" width="160" priority>
            <p>
                I don't know what to say about myself, so instead I'll share some of my favourite stuff.
            </p>
        </div>
    </app-coloured-box>
    <div class="favourite-stuff-container">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Sounds">
                <app-favourite-sounds></app-favourite-sounds>
            </mat-tab>
            <mat-tab label="Movies">
                <app-favourite-movies></app-favourite-movies>
            </mat-tab>
            <mat-tab label="Games">
                <app-favourite-games></app-favourite-games>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

