<div class="page-container">
    <h1>About Me</h1>
    <app-card>
        <div class="dialog">
            <img ngSrc="assets/sprites/cb_idle.gif" alt="A gif of Corey." class="centred" height="160" width="160"
                 priority>
            <p>
                I like to live a simple life. Most of my days are spent hanging out with my family or coding at my
                computer.
            </p>
        </div>
    </app-card>

    <h2>Technologies</h2>
    <p>
        Instead of listing every technology under the sun that I have touched, I will instead showcase the
        languages,
        tools, and frameworks that I use professionally every day.
    </p>
    <div class="card-list">
        <app-card>
            <h3>Languages</h3>
            <ul class="tech-list">
                <li>Java</li>
                <li>Typescript</li>
                <li>Javascript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bicep</li>
                <li>Yaml</li>
                <li>SQL</li>
                <li>Bash</li>
            </ul>
        </app-card>
        <app-card colour="secondary">
            <h3>Frameworks / Libraries</h3>
            <ul class="tech-list">
                <li>Angular</li>
                <li>Micronaut</li>
                <li>Spring</li>
                <li>RxJS</li>
                <li>JPA</li>
                <li>Mapstruct</li>
            </ul>
        </app-card>
        <app-card colour="tertiary">
            <h3>Tools / Other</h3>
            <ul class="tech-list">
                <li>Vim</li>
                <li>IntelliJ IDEA</li>
                <li>Git</li>
                <li>Linux</li>
                <li>Windows</li>
                <li>GitBash</li>
                <li>SSMS</li>
                <li>Postman</li>
                <li>Azure DevOps</li>
                <li>Azure Portal</li>
            </ul>
        </app-card>
    </div>

    <h2>Media</h2>
    <p>In my free time outside of family and coding, I often lose myself in distant worlds.</p>
    <div class="favourite-stuff-container">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Movies">
                <app-favourite-movies></app-favourite-movies>
            </mat-tab>
            <mat-tab label="Games">
                <app-favourite-games></app-favourite-games>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
