.favourite-stuff-container {
    max-width: 800px;
    width: 80vw;
}

.tech-list {
    list-style-type: none;
}

.tech-list li {
    display: inline;
}

.tech-list li::after {
    content: ", ";
}

.tech-list li:last-child::after {
    content: "";
}

