.project-list {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.project-card {
    max-width: 300px;
    right: 10px;
}

b {
    color: cornflowerblue;
}