@if ((projects$ | async)?.length === 0) {
<div class="loading-container">
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
</div>
} @else {
<div class="projects-page-container">
    <h1>Projects</h1>
    <app-coloured-box [colour]="Blue">
        <div class="dialog">
            <img ngSrc="assets/sprites/cb_idle.gif" height="160" width="160" alt="Gif of Corey" priority />
            <p>
                My favourite aspect of programming is being able to create almost anything that I can think of. Here are some of my personal favourite projects.
            </p>
        </div>
    </app-coloured-box>
    <div class="project-list">
        @for (project of (projects$ | async) ?? [] | sortProjectsByYear; track project.id) {
        <mat-card class="project-card zoom-in">
            <a [href]="project.link" target="_blank">
                <img mat-card-image [ngSrc]="project.image" width="300" height="300" [alt]="'Image of ' + project.name"
                    priority>
                <span class="screen-reader-text">Link to {{project.name}}</span>
            </a>
            <mat-card-header>
                <mat-card-title><a [href]="project.link" target="_blank"><b>{{project.name}}
                            ({{project.year}})</b></a></mat-card-title>
                <mat-card-subtitle>{{project.techStack}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{project.description}}</p>
            </mat-card-content>
        </mat-card>
        }
    </div>
</div>
}