@if ((jobs$ | async)?.length === 0) {
<div class="loading-container">
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
</div>
} @else {
<div class="experience-page-container">
    <h1>Experience</h1>
    <app-card>
        <div class="dialog">
            <img
                    ngSrc="assets/sprites/cb_work.gif"
                    alt="Gif of Corey looking professional."
                    class="centred"
                    height="160"
                    width="160"
                    priority
            >
            <p>
                Welcome to my job experience page! As you can see, I was a Blackjack dealer long before I wrote my first program. Now the only thing I gamble is my sanity while continuously configuring my development environment.
            </p>
        </div>
    </app-card>
    <div class="job-list">
        @for (job of (jobs$ | async) ?? [] | sortExperienceByYear; track job.id) {
        <mat-card class="job-card zoom-in">
            <mat-card-header>
                <mat-card-title><b>{{job.title}}</b></mat-card-title>
                <mat-card-subtitle>{{job.organisation}} | {{job.startDate}} - {{job.endDate}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{job.description}}</p>
            </mat-card-content>
        </mat-card>
        }
    </div>
</div>
}