.job-list {
    margin: 40px;
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
}

.job-card {
    max-width: 800px;
    right: 10px
}

.inline-text {
    display: inline-block;
}