@if ((educationList$ | async)?.length === 0) {
<div class="loading-container">
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
</div>
} @else {
<div class="education-page-container">
    <h1>Education</h1>
    <app-card>
        <div class="dialog">
            <img ngSrc="assets/sprites/self_graduate.gif" alt="Gif of Corey in graduation cloak." class="centred"
                height="160" width="160" priority>
            <p>
                My education is pretty standard, I finished year 12 in 2016 and eventually got around to finishing my CS degree in 2023. I am extremely proud of the scores I got and aware of how utterly useless they are.
            </p>
        </div>
    </app-card>
    <div class="education-list">
        @for (education of (educationList$ | async) ?? [] | sortEducationByDate; track education.id) {
        <mat-card class="education-card zoom-in">
            <mat-card-header>
                <mat-card-title><b>{{education.institution}}</b></mat-card-title>
                <mat-card-subtitle>{{education.qualification}} | {{education.date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{education.result}}</p>
            </mat-card-content>
        </mat-card>
        }
    </div>
    <button mat-raised-button color="primary" (click)="openBottomSheet()">View Education Docs</button>
</div>

}