:root {
  --primary: cornflowerblue;
  --secondary: #ff9c00;
  --tertiary: #00ff33;
  --background: #001f4a;
}

html,
body {
  max-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: large;
  background-color: rgb(26, 26, 26);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary);
}

a {
  color: #2A00FF;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff8800;
}

p {
  color: #3a3a3a;
}

.centred {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-container {
  width: 100%;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.zoom-in {
  transition: transform 0.3s ease;
}

.zoom-in:hover {
  transform: scale(1.1);
}