:root {
    --primary: cornflowerblue;
    --secondary: #ff9c00;
    --tertiary: #00ff33;
    --background: #001f4a;
    --charcoal: #3a3a3a;
}

html,
body {
    max-height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono",
    "Consolas",
    "Lucida Console",
    "Menlo",
    "Monaco",
    "DejaVu Sans Mono",
    "Ubuntu Mono",
    "Courier New",
    monospace;
    font-size: large;
    background-color: rgb(26, 26, 26);
}

main {
}

h1, h2 {
    color: var(--primary);
}

h3 {
    color: var(--charcoal);
}

a {
    color: #2A00FF;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff8800;
}

p {
    color: var(--charcoal);
    max-width: 100ch;
    line-height: 1.5;
}

/* Containers */
.centred {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.loading-container {
    width: 100%;
}

.favourite-items-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px;
    align-items: center;
    justify-content: center;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Accessibility */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* Animations */
.zoom-in {
    transition: transform 0.3s ease;
}

.zoom-in:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
    .page-container {
        padding: 0 10px;
    }
}
